:root {
    box-sizing: content-box;
    --main-font: 'Montserrat', sans-serif;
    --logo-font: 'Londrina Solid', sans-serif;
    --color-black: #000000;
    --color-dark-blue: #03045e;
    --color-dark-blue2: #023e8a;
    --color-blue: #0077b6;
    --color-light-blue: #00b4d8;
    --color-light-blue2: #caf0f8;
    --color-red: #d00000;
    --color-light: #edfafd;
    --color-white: #ffffff;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-display: swap;
    src: url("assets/fonts/Montserrat-Medium.woff") format("woff");
    src: url("assets/fonts/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-display: swap;
    src: url("assets/fonts/Montserrat-Regular.woff") format("woff");
    src: url("assets/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Londrina Solid";
    font-weight: 400;
    font-display: swap;
    src: url("assets/fonts/LondrinaSolid-Regular.woff") format("woff");
    src: url("assets/fonts/LondrinaSolid-Regular.woff2") format("woff2");
}

@keyframes showModal {
    0% {transform: translateX(-50%) translateY(-300%)}
    80% {transform: translateX(-50%) translateY(0)}
    100% {transform: translateX(-50%) translateY(-50%)}
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: var(--main-font);
    font-size: 1em;
    line-height: 120%;
    color: var(--color-dark-blue);
    background: var(--color-light);
}

.page-header {
    background: var(--color-blue);
    box-shadow: 1px 1px 10px var(--color-dark-blue);
}

.container {
    max-width: 1440px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2em 1em;
}

.logo {
    margin: 0;
    font-size: 2.4em;
    font-family: var(--logo-font);
    letter-spacing: 0.2em;
    text-decoration: none;
    color: var(--color-light);
}

.header__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__link {
    display: block;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-light);
    transition: all 0.3s;
    cursor: pointer;
}

.header__link:hover,
.header__link:focus {
    color: var(--color-dark-blue);
    text-decoration: underline;
}

.game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5em;
    margin: 0 auto;
    padding: 2em 1em;
    width: 70%;
    /* border: 0.15em solid var(--color-blue);
    border-radius: 1em; */
}

.game__images {
    min-width: 435px;
    position: relative;
}

.game__figure {
    margin: 0;
    text-align: center;
}

.game__img {
    margin-bottom: 1em;
    border-bottom: 0.5em solid var(--color-dark-blue);
    fill: var(--color-dark-blue);
}

.game__figure figcaption {
    font-size: 1.5em;
    font-style: 500;
    color: var(--color-dark-blue);
}

.images__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    position: absolute;
    top: 9.7em;
    right: 1.25em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.images__item {
    margin-top: -0.4em;
    height: auto;
}

.images__item-img {
    opacity: 0;
}

.images__item-img--shown {
    opacity: 1;
}

.images__item--body {
    display: flex;
}

.game__controlls {
    width: 50%;
    text-align: center;
}

.word__list {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 0;
    margin-bottom: 3em;
    padding: 0;
    list-style: none;
}

.word__item {
    height: 2em;
    width: 2em;
    font-size: 1.4em;
    border-bottom: 0.15em solid var(--color-dark-blue);
    transition: all 0.3s;
}

.word__item--shown {
    border-bottom: none;
    font-size: 1.4em;
}

.word__hint {
    margin-bottom: 2em;
}

.word__incorrect {
    margin-bottom: 3em;
}

.word__incorrect span {
    font-weight: 500;
    color: var(--color-red);
}

.controlls__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em 0.8em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.controlls__button {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border: none;
    border-radius: 0.6em;
    font-weight: 500;
    font-size: 1em;
    color: var(--color-white);
    background:  linear-gradient(var(--color-blue), var(--color-dark-blue2)), var(--color-blue);
    box-shadow: 0 1px rgba(255, 255, 255, 0.2)  inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
    cursor: pointer;
    transition: all 0.3s;
}

.controlls__button:hover,
.controlls__button:focus {
    background: linear-gradient(var(--color-light-blue), var(--color-blue)), var(--color-light-blue);
}

.controlls__button:active {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}

.controlls__button:disabled {
    color: var(--color-light-blue);
    background: var(--color-light-blue2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3) inset, 0 2px 3px rgba(0, 0, 0, 0.3) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
    cursor: not-allowed;
}

.dark-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: all 0.5s;
}

.dark-bg--shown {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: var(--color-black);
    opacity: 0.5;
    overflow: hidden;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 2px 2px 10px var(--color-dark-blue);
    background: var(--color-light);
    animation-name: showModal;
    animation-duration: 1s;
}

.popup__container {
    padding: 2em;
    text-align: center;
}

.popup__title {
    margin: 0;
    margin-bottom: 1em;
    line-height: 130%;
}

.popup__button {
    outline: none;
    padding: 0.5em 1em;
    font-size: 1em;
    border: 2px solid var(--color-dark-blue);
    border-radius: 0.5em;
    background: var(--color-light);
    cursor: pointer;
    transition: all 0.3s;
}

.popup__button:hover,
.popup__button:focus {
    border: 2px solid var(--color-blue);
    background: var(--color-light-blue2);
}

@media (max-width: 1024px) {
    
    .container {
        max-width: 1023px;
    }

    .game {
        width: 85%;
    }

    .game__images {
        min-width: 300px;
        position: relative;
    }

    .game__img {
        width: 90%;
    }
    
    .images__list {
        top: 7.7em;
        right: -1.7em;
    }

    .images__item--head .images__item-img {
        width: 75%;
    }

    .images__item-img {
        width: auto;
        height: 75%;
    }

    .images__item--body {
        margin-top: -20px;
        margin-left: -25px;
    }

    .images__item--legs {
        margin-left: 5px;
    }

    .game__controlls {
        width: 300px;
    }

    .controlls__list {
        gap: 1em 0.8em;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .controlls__button {
        width: 2em;
        height: 2em;
        border: none;
        border-radius: 0.6em;
    }
}